@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html,
body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    
}

.acumin-heading {
    font-family: acumin-pro, sans-serif !important;
    font-size: 40px !important;
    line-height: 56px !important;
    font-weight: 600 !important;
}


header {
    background-color: black;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    left: 0;
    color: white;
    margin-bottom: 20px;
}

h2 {
    font-family: "Proza Libre", sans-serif;

}

#logo {
    text-align: center;
}

.logo {
    background-color: black;
}

body {
    color: black;
    margin: 0;
    padding-top: 60px;
}

nav {
    display: flex;
    align-items: center;
    margin: auto;
}

.navigation-items {
    background-color: black;
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
    margin: 12px;
}

.body_container {
    margin: 0;
    padding: 0;
    max-width: 1300px;
    margin:  auto;
    display: flex;
    flex-direction: column;
}

.col_left {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    font-size: 18px;
   
}

.col_right {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

img {
    max-width: 400px;

}

.card {
    background-color: lightgray;
    border-color: lightgray;
    color: #333;
    padding: 0.5rem;
    border-radius: 8px;
    margin-bottom: 20px;
}