@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html,
body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.acumin-heading {
    font-family: acumin-pro, sans-serif !important;
    font-size: 40px !important;
    line-height: 56px !important;
    font-weight: 600 !important;
}


header {
    background-color: black;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    left: 0;
    color: white;
    margin-bottom: 20px;
}

h2 {
    font-family: "Proza Libre", sans-serif;

}

#logo {
    text-align: center;
}

.logo {
    background-color: black;
}

body {
    color: black;
    margin: 0;
    padding-top: 60px;
}

nav {
    display: flex;
    align-items: center;
    margin: auto;
}

.navigation-items {
    background-color: black;
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
    margin: 12px;
}

.body_container {
    margin: 0;
    padding: 0;
    max-width: 1300px;
    margin:  auto;
    display: flex;
    flex-direction: column;
}

.section-1 {
    background-color: rgba(247, 247, 247, 0.973);
}

.col_left {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    font-size: 18px;
   
}

.col_right {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.portrait {
    max-width: 400px;
}

.project-heading {
    text-align: center;
    padding-top: 32px;
}

.container-card {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px lightgray;
}

.container-card-last {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}


.card {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 6px 6px 0 0;
    
}



.collum-card-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    
}

.collum-card-right {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 5%;
    justify-content: center;
}

.project-heading {
    margin: 0px;
    margin-bottom: 16px;
}

.collum-text {
   margin: 0;
   padding-bottom: 50px;
   font-size: 18px;
    
}

.center {
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.contact-card {
    display: grid;
}

.contact-size {
    width: 15%;
}


.landing-page {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #327da7;
    border-style: solid;
    border-width: 1px;
    border-color: #327da7;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.container-button {
    display: flex;
    justify-content: space-between;
}

.button-flex-left {
    display: flex;
    flex-direction: column;
}

.button-text {
    text-align: center;
    margin: 20px;
}

.button-flex-right {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: rgba(247, 247, 247, 0.973);
}